@{
    ViewData["Title"] = "Cart";
}

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="feature-block d-lg-flex">
                    <div class="feature-item mb-5 mb-lg-0">

                        <h2 class="text-center">THÔNG TIN GIỎ HÀNG</h2>
                        <div class="container">
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">Tên Sản phẩm</th>
                                        <th scope="col">Hình ảnh</th>
                                        <th scope="col">Tong Calories</th>
                                        <th scope="col">Tong Protein</th>
                                        <th scope="col">Tong Carbs</th>
                                        <th scope="col">Tong Fat</th>
                                        <th scope="col">Tong Alcohol</th>
                                        <th scope="col">Khối lượng (100g)</th>
                                        <th scope="col">Tùy chọn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>ABC</td>
                                        <td>
                                            <img src=@Url.Content("~/client/imgaes/food/1.jpg") alt="mock" style="width: 60px; height: 40px; object-fit: contain"  />
                                        </td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                <tfoot>
                                    <tr>
                                        <th colspan="2">Tổng cộng</th>
                                        <th>1</th>
                                        <th>1</th>
                                        <th>1</th>
                                        <th>1</th>
                                        <th>1</th>
                                        <th>1</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                </tbody>
                            </table>
                            <a href="@Url.Action("Index", "Material")" class="btn btn-main btn-round-full">Tiếp tục chọn nguyên liệu</a>
                            <a href="@Url.Action("PlanMeals", "Material")" class="btn btn-main btn-round-full">Đi đến kế hoạch thực đơn</a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>